.App{
    position: relative;
    overflow-x: clip;
    
}

.App>:nth-child(1){
    background: var(--black);
    position: relative;
}

.white-gradient{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
}