/* .introduce-container{
  border: 1px solid red; */
  /* margin-top: 200px; */
  /* padding: 2.5rem;
} */

.right-box{
  text-align: center;
  p{
    text-align: justify;
    padding: 0 1rem;
  }
}

@media(min-width:640px) {
  /* .introduce-container{
    margin-top: 0;
  } */
}