/* .property-detail-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.property-detail-container{
    flex: 1;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.property-main-image img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.property-swiper{
    margin-top: 2rem;
}

.swiper-batch{
    display: flex;
    justify-content: space-between;
}

.swiper-batch img{
    width: 24%;
    margin-right: 1%;
    border-radius: 8px;
}

.property-secription, .property-overview, 
.property-gallery, .property-amenities, 
.property-map{
margin-top: 2rem;
}

.property-description p{
    font-size: 1rem;
    color: #333;
}

.property-overview .overview-items{
    display: flex;
    flex-wrap: wrap;
}

.property-overview .overview-item{
    flex: 1;
    min-width: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.property-overview .overview-item i{
    margin-right: 0.5rem;
}

.property-gallery .gallery-items{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.property-amenities .amenities-items{
    display: flex;
    flex-wrap: wrap;
}

.property-amenities .amenities-item{
    flex: 1;
    min-width: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.property-amenities .amenities-item i{
    margin-right: rem;
}

.property-map iframe{
    border-radius: 8px;
} */