.r-wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }
  
  .r-container {
    max-width: 1200px; /* 控制 section 的最大宽度 */
    width: 100%;
    padding: 0 2rem; /* 控制两边的空白 */
    box-sizing: border-box;
  }
  
  .r-head {
    margin-bottom: 2rem;
  }
  
  

/* .r-grid{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.r-card{
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
    transition: all 300ms ease-in;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}

.r-card> img{
    width: 100%;
    max-width: 12rem;
    border-radius: 10px;
}

.r-card > :nth-child(2){
    font-size: 2rem;
    font-weight: 600;
}

.r-card > :nth-child(3){
    font-size: 1.5rem;
}

.r-card > :nth-child(4){
    font-size: 0.7rem;
    width: 15rem;
    text-align: center;
}

.r-card:hover{
    transform: scale(1.025);
    cursor: pointer;
    background: linear-gradient(
        180deg,
        rgba(255,255,255,0) 0%,
        rgba(136,160,255,0.46) 100%
    );
    box-shadow: 0px 10px 20px rgba(136, 160, 255, 0.21);
} */

.view-more-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.view-more-button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #27ae60;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-more-button:hover{
    background-color: #219150;
}

