
.property-grid-wrapper{
    margin-bottom: 2rem;
}

.r-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 每行 4 个 */
    gap: 1rem; /* 控制卡片之间的间距 */
  }
  
  .r-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
    transition: all 300ms ease-in;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* 默认阴影 */
    width: 100%;
    max-width: 15rem; /* 控制卡片的最大宽度 */
  }
  
  .r-card > img {
    width: 100%;
    border-radius: 10px;
  }
  
  .r-card > :nth-child(2) {
    font-size: 1.5rem; /* 调整字体大小 */
    font-weight: 600;
  }
  
  .r-card > :nth-child(3) {
    font-size: 1.2rem; /* 调整字体大小 */
  }
  
  .r-card > :nth-child(4) {
    font-size: 0.8rem; /* 调整字体大小 */
    text-align: center;
  }
  
  .r-card:hover {
    transform: scale(1.025);
    cursor: pointer;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(136, 160, 255, 0.46) 100%
    );
    box-shadow: 0px 10px 20px rgba(136, 160, 255, 0.21);
  }

  .view-more-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem; /* 调整为合适的间距 */
  }
  
  .view-more-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #27ae60; /* 按钮背景色 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .view-more-button:hover {
    background-color: #219150; /* 按钮悬停背景色 */
  }