.h_wrapper{
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
}

a{
    text-decoration: none;
    color: inherit;
    font-size: 100%;
}

.hidden{
    transform: translateY(-100%);
}

.h-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.h-menu{
    display: flex;
    gap: 2rem;
}

.h-menu>*:hover{
    cursor: pointer;
}

.menu-item{
    position: relative;
}

.menu-item a{
    padding: 0.5rem 1rem;
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--black);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

.mantine-Menu-dropdown {
  background-color: var(--black) !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1) !important;
  z-index: 1000 !important;
}

.mantine-Menu-item {
  padding: 0.5rem 1rem !important;
  text-decoration: none !important;
  color: var(--secondary) !important;
  white-space: nowrap !important;
}

.mantine-Menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
