.ContactPagecontainer{
    max-width: 1200px;
    margin: 0 auto;
}

.contact-page{
    padding-top: 100px;
}

.sec-sp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.color_sec{
    color: #ff6347;
}

.py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.text-center{
    text-align: center;
}

.alert{
    margin-top: 20px;
}