.App{
    position: relative;
    overflow-x: clip;
}

.App>:nth-child(1){
    background: var(--black);
    position: relative;
}

.white-gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.522);
}