.hero-container {
    margin-top: 4rem;
    padding-top: 12px;
    border: 1px solid red;
  }

  .hero-left-container {
    position: relative;
  }
  
  .hero-info {
    padding: 2rem;
  }
  
  .property-type {
    color:rgb(179, 115, 55);
    letter-spacing: 4px;
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
  
  .property-title {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 600;
  }
  
  .property-price {
    font-size: 1.5rem;
    color: rgb(179, 115, 55);
    margin-bottom: 1rem;
  }
  
  .property-details{
    margin-bottom: 2rem;
  }
  
  .property-details p {
    font-size: 1rem;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
  }
  
  .property-details p svg {
    margin-right: 0.5rem;
  }

  .hero-btn {
    color: #fff;
    background: rgb(179, 115, 55);
    border: none;
    padding: 8px;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
  }

  .hero-btn svg {
    padding-left: 8px;
    text-align: center;
  }

  .hero-btn:hover {
    background: rgb(182, 98, 20);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }

  .hero-btn:active {
    background: rgb(182, 98, 20);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }

  .hero-nav-btn-container {
    bottom: 10px;
    left: 11%;
    transform: translateX(-50%);
    width: 100%;
  }

  .hero-nav-btn {
    background: none;
    border: none;
    color: #444;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
  }

  .hero-nav-btn:hover {
    color: #000;
    transform: translateY(-2px);
  }
  
  .hero-nav-btn:active {
    color: #000;
    transform: translateY(0);
  }

  .hero-btn-break-line {
    border-top: 1px solid rgb(179, 115, 55);
    width: 3rem;
    height: 0;
    margin: 0 4px;
  }
  
  .hero-image-container img {
    width: 100%;
    height: auto;
  }
  